body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
    background-color: #f4f4f9;
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 16px; /* Increased font size */
    font-weight: 500; /* Slightly bold font */

    background-image:url("https://i.pinimg.com/736x/be/34/43/be344320db22594eb4cb219e5f8777a7.jpg")
}

.container {
    background-color: #fff;
    padding: 50px;
    border: 1px solid #ccc;
    max-width: 600px;
    width: 100%;
    text-align: center;
    border-radius: 25px;
}

input[type="text"], input[type="number"], select {
    color: rgba(78, 112, 5, 0.895);
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px; /* Increased font size */
    font-weight: 500; /* Slightly bold font */
    
}

button {
    width: 100%;
    background-color: #4285f4;
    color: white;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px; /* Increased font size */
    font-weight: 500; /* Slightly bold font */
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 10px 0;
}

ul li {
    padding: 10px;
    margin: 5px 0;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    cursor: pointer;
    font-size: 16px; /* Increased font size */
    font-weight: 500; /* Slightly bold font */
}

ul li:hover {
    background-color: #f1f1f1;
}

#result {
    margin-top: 20px;
    font-weight: 500; /* Slightly bold font */
    font-size: 16px; /* Increased font size */
<<<<<<< HEAD
}
=======
}




>>>>>>> 9b6b63b1a47257f70f1e5a2dd4b037c2683d9df2
