.header{
    font-size: 60px;
    text-align: center;
    background-color: rgb(97, 253, 157);
    color:black
}
.sust{ font-size: 30px;
    background-color: rgb(4, 110, 75);
color: black;
text-align: center;
}
.sustpara{
    text-align: center;
    font-style: oblique;

}
.msp{
    margin-left: 40%;
}
.sfp{
    margin-left: 40%;
}
.minimal{ font-size: 30px;
    background-color: rgb(4, 110, 75);
color: black;
text-align: center;

}

.minpara{
    text-align: center;
    font-style: oblique;

}
